body .about {
    height: 58rem;
    width: 100%;
  
    background-position: center;
    background-size: cover;
    background-image: url('./../assets/background2.jpg');
    background-repeat: no-repeat, repeat;
}

.table {
    width: 20%;
}

.about-box h1 {
    font-family: 'Product Sans';
    color: #4885ed;
    font-size: 3rem;
    padding-top: 3%;
}

.about-box h2 {
    font-family: 'Product Sans';
    color: #1aa260;
}

.about-desc {
    color: white;
    background-color: black;

    width: 37rem;
    height: 20rem;

    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

    border-radius: 5%;

    text-align: justify;
    opacity: 90%;
}

.about-desc h2 {
    color: grey;
}

.cb {
    margin-top: 1rem;
    margin-bottom: 1rem;
}