body .about {
    height: 58rem;
    width: 100%;
  
    background-position: center;
    background-size: cover;
    background-image: url('./../assets/background.jpg');
    background-repeat: no-repeat, repeat;
  }

.table {
    width: 20%;
}

.about-box h1 {
    font-family: 'Product Sans';
    color: white;
    font-size: 3rem;
    padding-top: 3%;
}