body .result {
    height: 58rem;
    width: 100%;
    background-color: #133A49;
  }
  
.result-title {
    font-family: 'Product Sans';
    font-size: 3rem;
    padding-top: 3%;
    color: white;
}

.ttable {
  background-color: white;
  width: 100px;
  margin-top: 1015rem;
}

.show-button {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ttable-title {
  font-size: 20px;
  color: #4885ed;
}

.ttable-all {
  margin-top: 20px;
}

.ttable-box {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 30rem;
  width: 40%;
  justify-content: center;
  display: flex;

  background-position: center;
  background-size: cover;
  background-image: url('./../assets/table.jpg');
  background-repeat: no-repeat, repeat;
}