.header {
  position: relative;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 3.5rem;
    padding-top: 0.5rem;
  }

.title {
  margin-left: 5rem;
}

.nav-links {
  padding-top: 0.2%;
  width: 65%;
  /*padding-left: 15%;*/
  display: flex;
  justify-content: space-around;
}

.nav-link {
  /*margin-right: 10rem;
  margin-left: 10rem;*/

  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
  font-weight: bold;
}